body{margin: 0;
background-image: linear-gradient(#666877,#2b3d69);
}
.box{
margin:0;
background-color: #141E27;
width: 100%;
position: fixed;
opacity: 0.95;
}
.box_cabecalho{
    display: flex; justify-content: space-between;
    margin: 0 
}
.box_cabecalho-titulo{ color: #c3073f;
}
.box_cabecalho_nav_lista-ul{ display: flex; list-style-type:none;
font-size: px; 
}
.box_cabecalho_nav_lista-li{ color: #FFF1CE;
    padding: 25px; 
}

